body {
    width: 55px;
    height: 25px;
}

.alpha {
    color: aqua;
}

/* this is a sample comment */
.zebra {
    background-color: antiquewhite;
}

#Charlie {
    margin: 0;
    display: flex;
}

@media all and (max-width: 550px) {
    #text-overlay {
        top: 30%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }
}